[push]
	autoSetupRemote = true
[user]
	email = mikemoschitto@gmail.com
	name = michaelmoschitto
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
